* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    outline: none !important;
}
.pointer {
    cursor: pointer;
}
.container-fluid {
    padding: 0 !important;
}
.row {
    width: 100%;
    max-width: 100%;
}
.d-none {
    display: none !important;
}
.fas.fa-search:hover,
.btn-decrease:hover,
.btn-add:hover {
    transition: 300ms;
    transform: scale(1.1);
}

/* NAVBAR */
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 6px;
    height: 60px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.24);
    color: #ff5c1a;
    background-color: #ffffff !important;
    z-index: 3000;
}
.logo {
    cursor: pointer;
    transition: 600ms;
    font-weight: bold;
}
.btn-shopping-cart {
    color: #ff5c1a;
    font-size: 17px;
    cursor: pointer;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: none;
    transition: 600ms;
    background-color: transparent;
}
.btn-shopping-cart:hover {
    background-color: #ff5c1a;
    color: #ffffff;
}
.btn-shopping-cart:active,
.logo:active,
.add-to-cart:active,
.btn-decrease:active,
.btn-add:active {
    transform: scale(1.2) !important;
}
input {
    transition: 210ms;
    border: solid 1.2px #ff5c1a;
    border-radius: 15px;
    width: 100%;
    outline: none !important;
    height: 30px;
    padding: 9px;
    padding-left: 15px;
    font-size: 15px;
}
input:focus {
    box-shadow: 0px 0px 3px 1px rgba(255, 92, 26, 0.6);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 92, 26, 0.6);
    -moz-box-shadow: 0px 0px 3px 1px rgba(255, 92, 26, 0.6);
}
.total-products {
    margin-left: 2.1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* NAVBAR END */

.product-container {
    padding-left: 9%;
    padding-right: 9%;
}

/* CARD */
.card {
    width: 100%;
    height: 420px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 1px rgba(187, 175, 175, 0.75);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(187, 175, 175, 0.75);
    -moz-box-shadow: 0px 0px 6px 1px rgba(187, 175, 175, 0.75);
}
.card-img {
    height: 66%;
}
.card-img > img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}
.card-content,
.card-footer {
    color: #807f7f;
    width: 100%;
    text-align: left;
}
.card-content {
    border-bottom: solid 0.9px #d8d5d5;
    height: 19%;
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}
.add-to-cart {
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: none;
    transition: 300ms;
    background-color: #807f7f;
}
.add-to-cart:hover {
    background-color: #413f3f;
    transform: scale(1.1);
}
.price {
    font-size: 18px;
}
.d-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CARD END */

/* LOADER */
.loader {
    width: 120px;
    height: 120px;
    display: inline-block;
    padding: 0px;
    text-align: left;
}
.loader span {
    position: absolute;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: rgba(255, 92, 26, 0.6);
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
}
.loader span:last-child {
    animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
}
@keyframes loader {
    0% {
        transform: scale(0, 0);
        opacity: 0.8;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
@-webkit-keyframes loader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}
/* LOADER END */

/* FADE-IN */
.fadeIn {
    -webkit-animation-duration: 0.69s;
    animation-duration: 0.69s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* FADE-IN END */

/* SUMMARY */
.summary-img {
    border-radius: 12px;
    object-fit: cover;
    height: 60px;
    width: auto;
}
.summary-container {
    margin-top: 2rem;
    color: #807f7f !important;
}
.product-name {
    display: flex;
    justify-content: left;
    align-items: center;
}
.product-price-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-decrease,
.btn-add {
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 6px;
    border: none;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
}
.btn-decrease {
    background-color: #0fe907;
    font-size: 13px;
}
.btn-add {
    background-color: #e90707;
    font-size: 15px;
}
/* SUMMARY END */
